*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
html,body{
	width:100%;
	background-color:#f4f4f4;
	height:1000px;
}
.wrapper{
	width:100%;
	height:100%;
}
.wrapper .top-nav-wrap{
	width:100%;
	height:35px;
	border:1px solid #eee;
	background-color:#f5f5f5;

}
.wrapper .top-nav-wrap .top-nav{
	width:1190px;
	height:35px;
	margin:0px auto;
/* 	border:1px solid black; */
}
.wrapper .top-nav-wrap .top-nav .top-nav-l{
    float:left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-r{
	float:right;
}
.wrapper .top-nav-wrap .top-nav li{
	float:left;
	margin-right:7px;
}
.wrapper .top-nav-wrap .top-nav li a{
	color:#6c6c6c;
	font-size:12px;
	line-height:35px;
	padding:0 6px;
}
.wrapper .top-nav-wrap .top-nav li a:hover,
.wrapper .top-nav-wrap .top-nav li .login{
    color:#f40;
}
.wrapper .top-nav-wrap .top-nav .china{
	color:#3c3c3c;
	font-size:12px;
	line-height:35px;
}
.wrapper .top-nav-wrap .top-nav .china-span{
	padding:0 6px;
}
.wrapper .top-nav-wrap .top-nav .cutOff span{
	line-height:35px;
}
.wrapper .top-nav-wrap .top-nav .bgPic{
	display:inline-block;
	width:6px;
	height:3px;
	vertical-align:middle;
	background-size:100% 100%;
	border:1px solid black;
}
.wrapper .top-nav-wrap .top-nav .xsjPic{
	background-image:url('');
}
.wrapper .top-nav-wrap .top-nav .shopCarpic{
	width:12px;
	height:11px;
	background-image:url('');
}
.wrapper .top-nav-wrap .top-nav .likePic{
	width:12px;
	height:11px;
	background-image:url('');
}
.wrapper .top-nav-wrap .top-nav .webNavpic{
	width:12px;
	height:12px;
	background-image:url('');
}
/* 导航条结束*/
/* 搜索框开始*/
.wrapper .search-wrap{
	width:100%;
	height:97px;
/* 	border:1px solid black; */
	background-color:#fff;
	padding-top:24px;
	padding-bottom:9px;
}
.wrapper .search-wrap .search-con{
    width:1190px;
    height:88px;
/*     border:1px solid black; */
    margin:0 auto;
}
.wrapper .search-wrap .search-con .logo-box{
	width:180px;
	height:60px;
	/* border:1px solid black; */
	display:inline-block;
	vertical-align:middle;
}
.wrapper .search-wrap .search-con .logo-box img{
	width:180px;
	height:60px;
}
.wrapper .search-wrap .search-con .search-box{
	width:627px;
	height:87px;
/* 	border:1px solid black; */
	display:inline-block;
	vertical-align:middle;
	margin-left:50px;
}
.wrapper .search-wrap .search-con .search-box .search-bd{
	width:627px;
	height:62px;
/* 	border:1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd li{
	float:left;
	width:36px;
	height:22px;
	text-align:center;
	line-height:22px;
	color:#f40;
	margin-right:4px;
	font-size:12px;
}
.wrapper .search-wrap .search-con .search-box .search-bd li:hover{
	background-color:#ffeee5;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-tab{
	width:610px;
	height:22px;
/* 	border:1px solid black; */
	margin-left:17px;
}
.wrapper .search-wrap .search-con .search-box .search-bd .select{
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
	color:#fff;
	font-weight:700;
	border-top-right-radius:6px; 
	border-top-left-radius:6px;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel{
	width:627px;
	height:40px;
	position:relative;
/* 	border:1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd .btn{
	position:absolute;
	right:0px;
	top:0px;
	width:74px;
	height:40px;
	text-align:center;
/* 	border:1px solid red; */
	z-index:1000;
    border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.wrapper .search-wrap .search-con .search-box .search-bd .btn button{
    border:none;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    width:100%;
    height:100%;
    border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	color:#fff;
	font-size:18px;
	font-weight:700;
	cursor:pointer;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-inp-box{
    width:551px;
    height:36px;
    border:2px solid #ff5000; 
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	border-right:none;
	overflow:hidden;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-inp{
	width:472px;
	height:36px;
    overflow:hidden;
/*     border:1px solid red; */
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-inp input{
	width:472px;
	height:24px;
	line-height:24px;
    border:none;
	outline:0;
	text-indent:10px;
	padding:6px 16px;
	background-color:#fff;
}

.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .sousuo,
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .camera{
	display:inline-block;
	position:absolute;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .sousuo{
	width:12px;
	height:16px;
	top:11px;
	left:12px;
/* 	border:1px solid black;
background:url('img/taobaowang.png') no-repeat; */
	background-size:100% 100%;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .camera{
	width:20px;
	height:22px;
	top:11px;
	right:90px;
/* border:1px solid black;
background:url('img/taobaowang.png') no-repeat; */
	background-size:100% 100%;
}
.wrapper .search-wrap .search-con .search-box .search-ft{
	width:625px;
	height:18px;
/* 	border:1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-ft ul li {
    float:left;

}
.wrapper .search-wrap .search-con .search-box .search-ft ul li a{
	font-size:12px;
    color:#666;
    margin-right:8px;
}

.wrapper .search-wrap .search-con .search-box .search-ft a:hover,
.wrapper .search-wrap .search-con .search-box .search-ft ul .select a{
	color:#ff5000;
}
.wrapper .search-wrap .search-con .search-box .search-ft .more{
	float:right;
	font-size:12px;
    color:#666;
	line-height:18px;   
}

.wrapper .search-wrap .search-con .code-box{
	width:76px;
	height:90px;
	border:1px solid #eee;
	display:inline-block;
	vertical-align:middle; 
	position:relative;
	margin-left:120px;
}
.wrapper .search-wrap .search-con .code-box .p-tb{
	display:inline-block;
	color:#ff5000;
	text-align:center;
	line-height:20px;
	margin:4px auto 0;
	width:74px;
	font-size:14px;
}
.wrapper .search-wrap .search-con .code-box .code{
	display:inline-block;
	width:62px;
	height:62px;
	background:url('img/erweima.png') no-repeat;
	background-size:100% 100%;
	margin-left:7px;


}
.wrapper .search-wrap .search-con .code-box .close{
    position:absolute;
    top:0;
    left:-16px;
    height:14px;
    width:14px;
    border:1px solid #eee;
    line-height:14px;
    text-align:center;
    color:#ddd;
    font-size:14px;
}
/* 搜索框结束了*/
/* 页内导航开始了 */
.wrapper .screen-nav-wrap{
	width:100%;
	height:30px;

}
.wrapper .screen-nav-wrap .screen-nav-con{
	width:1190px;
	height:30px;
	margin:0 auto;
	background:linear-gradient(to right,#ff9000 0,#ff5000);
}
.wrapper .screen-nav-wrap .screen-nav-con h2{
	float:left;
	width:190px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	color:#fff;
	background-color:#ff5000;
}
.wrapper .screen-nav-wrap .screen-nav-con ul{
	float:left;
	height:30px;
	font-size:16px;  
	line-height: 30px;
}
.wrapper .screen-nav-wrap .screen-nav-con ul li{
	float:left;
	text-align:center;
    padding:0 8px;
    color:#fff;
}
.wrapper .screen-nav-wrap .screen-nav-con ul li a{
	color:#fff;
	font-weight:600;
}
.wrapper .screen-box-wrap{
	width:1190px;
	height:632px;
	margin:0 auto;
/* 	border:1px solid blue; */


}
.wrapper .screen-box-wrap .main{
    width:890px;
    height:632px;
/*     border:1px solid black; */
    float:left;
}
.wrapper .screen-box-wrap .main .main-inner{
	width:720px;
	height:522px;
	display:inline-block;
	vertical-align:top;
/* 	border:1px solid black; */
}
/* 侧边导航栏开始 inner-left*/
.wrapper .screen-box-wrap .main .main-inner .inner-left{
	width:190px;
	height:522px;
    background-color:#fff;
	float:left;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul{
	border:1px solid #ff5000;
	border-top:none;
	padding-top:5px;
	padding-bottom:3px;
	font-size:14px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li{
	height:32px;
	width:144px;
	line-height:32px;
	font-weight:400;
	padding-right: 19px;
	padding-left:25px;
	position:relative;


}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li a{
	color:#666;

}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover a{
	color:#ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover{
	background-color:#ffeee5;
	color:#ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li span{
    position:absolute;
    display:inline-block;
    right:5px;
 /*    
 height:8px;
 width:5px; 
 background-image:url('');
 background-size:100% 100%;
 top:50%;
 margin-top:-4px; */
}
/* 中间部分内容与开始 inner-con */
.wrapper .screen-box-wrap .main .main-inner .inner-con{
	width:520px;
	height:512px;
	float:left;
/*     background-color:pink; */
    margin-left:10px;
    margin-top:10px;
	
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box{
	position:relative;
	width:520px;
	height:280px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul{
	position:absolute;
	bottom:15px;
	left:50%;
    margin-left:-35px;
	width:70px;
	height:13px;
	border-radius:10px;
	background-color:rgb(255,255,255,.3);
/* 	border:2px solid red; */
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li{
	float:left;
	margin:3px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li a{
	display:block;
	width:8px;
	padding-top:8px;
	height:0;
	border-radius:50%;
	background-color:#fff;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li .select{
	background-color:#ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall{
    width:520px;
    height:230px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall .head{
	width:520px;
	height:22px;
	border-bottom:3px solid #ff1648;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall .head .tm-pic{
	display:inline-block;
	width:69px;
	height:21px;
	background-image:url('img/cateye.png');
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall .head .tm{
	color:#666;
	font-size:12px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall .bottom-img1{
	width:255px;
	height:205px;
    margin-right:5px;
	float:left;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall img{
	width:255px;
	height:205px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall .bottom-img2{
	width:255px;
	height:205px;
    margin-left:5px;
	float:left;
}
/* 中间右侧部分开始 col-middle */
.wrapper .screen-box-wrap .main .col-middle{
	width:160px;
	height:512px;
	margin-top:10px;
	display:inline-block;
	vertical-align:top;
/* 	border:1px solid black; */
}
.wrapper .screen-box-wrap .main .col-middle h5{
	color:#a1a1a1;
	font-size:12px;;
	line-height:18px;
}
/* 中间底侧部分 main-bottom */
.wrapper .screen-box-wrap .main .main-bottom{
	width:888px;
	height:100px;
/* 	border:1px solid black; */

}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con{
	position:relative;
	margin-top:10px;
	padding:14px 14px 12px 20px;
	background-color: #fff;
	height:73px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .logo{
	float:left;
/* 	border:1px solid red; */

}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttcon{
    width:675px;
    height:73px;
    position:absolute;
    top:14px;
    left:200px;
/*     border:1px solid red; */
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttcon img{
	float:left;
	width:130px;
	height:73px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttcon h4{
    font-size:16px;
    font-weight:500;
    line-height:28px;
    color:#333;
    margin-top:2px;
    margin-left:144px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttcon h4:hover{
	color:#ff5000;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttcon p{
    color:#999;
    line-height:18px;
    height:36px;
    overflow:hidden;
    font-size:14px;
    margin-left:10px;
}
/* 右边部分 col-right */
.wrapper .screen-box-wrap .col-right{
	width:290px;
	height:620px;
    border:1px solid black;
	float:left;
	margin-left:5px;
	margin-top:10px;
	background-color:#fff;
}
/* 右边上一部分 member */
.wrapper .screen-box-wrap .col-right .member{
	width:290px;
	height:145px;
	padding:3px 0 10px 0px;
	background:url('img/img12.png');
	background-size:100% 100%;
}
.wrapper .screen-box-wrap .col-right .member .member-bd{
	width:290px;
	height:91px;

}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx{
	width:290px;
	text-align:center;
	height:50px;
}
.wrapper .screen-box-wrap .col-right .member .tx a{
	display:inline-block;
	width:50px;
	height:50px;
	border-radius:50%;
}
.wrapper .screen-box-wrap .col-right .member .tx img{
	border-radius:50%;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .hello{
	height:17px;
	line-height: 17px;
	font-size:14px;
	color:#333;
    text-align:center;
    margin:4px 0;
}
.wrapper .screen-box-wrap .col-right .member .member-bd p{
	width:290px;
	height:17px;
	line-height:17px;
	text-align:center;
/* 	border:1px solid red; */

}
.wrapper .screen-box-wrap .col-right .member .member-bd p .icon,
.wrapper .screen-box-wrap .col-right .member .member-bd p .club{
    display:inline-block;
    height:17px;
    position:relative;
    color:#ff5000;
    font-size:14px;
    line-height:17px;
    padding:0 10px 0 20px;
    background-color:#ffe4db;
    border-radius:20px;
}

.wrapper .screen-box-wrap .col-right .member .member-ft{
	width:290px;
	height:40px;
	margin-top:10px;
	margin-left:10px;
}
.wrapper .screen-box-wrap .col-right .member .member-ft a{
    display:inline-block;
	width:75px;
	height:25px;
	line-height:25px;
	font-size:14px;
	font-weight:700;
	color:#fff;
	text-align:center;
	background:linear-gradient(to right,#ff5000 0,#ff6f06);
    border-radius:4px;
    margin-right:7px;
}
.wrapper .screen-box-wrap .col-right .member .member-ft .login{
	width:92px;
}
/* 右边上二部分 message */
.wrapper .screen-box-wrap .col-right .message{
	width:290px;
	height:26px;
	background-color:#ffe4db;


}
.wrapper .screen-box-wrap .col-right .message a{
	position:relative;
    display:block;
	padding-left:82px;
	color:#f40;
	line-height:26px;
	font-size:12px;
/* 	border:1px solid green; */
    
}
.wrapper .screen-box-wrap .col-right .message a div{
	position:absolute;
    top:6px;
    right:60px;
	width:0px;
	height:0px;
	border:6px solid black;
	border-left-color: #ff5000;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent; 
}
/* 右边上三部分 notice */
.wrapper .screen-box-wrap .col-right .notice{
	width:290px;
	height:90px;
	padding-top:10px;
    background-color:#fff;
}
/* title部分 */
.wrapper .screen-box-wrap .col-right .notice .title{
/* 	width:274px; */
	height:24px;
	margin-top:4px;
	padding:0 8px;
}
.wrapper .screen-box-wrap .col-right .notice li{
	float:left;

}
.wrapper .screen-box-wrap .col-right .notice .title li{
	width:32px;
	height:20px;
	line-height:20px;
	margin:0 10px;
    text-align:center;
}
.wrapper .screen-box-wrap .col-right .notice .title li:hover{
	font-weight:700;
	border-bottom:2px solid #f40;
}
.wrapper .screen-box-wrap .col-right .notice .title li.select{
	font-weight:700;
	border-bottom:2px solid #f40;
}
.wrapper .screen-box-wrap .col-right .notice .title li a{
	font-size:14px;
	color:#3c3c3c;
}
/* con部分*/
.wrapper .screen-box-wrap .col-right .notice .con ul{
	width:290px;
}
.wrapper .screen-box-wrap .col-right .notice .con ul li{
    width:140px;
    height:25px;
    line-height:25px;
    overflow:hidden;
    padding-left:5px;
/*     margin-top:5px; */
} 
.wrapper .screen-box-wrap .col-right .notice .con ul li .select{
	color:#ff5000;
}
.wrapper .screen-box-wrap .col-right .notice .con li a{
	color:#3c3c3c;
	font-size:12px;
}
.wrapper .screen-box-wrap .col-right .notice .con li a:hover{
	color:#ff5000;
}

.wrapper .screen-box-wrap .col-right .moudle{
	width:290px;
	height:230px;
    border-top:1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle li{
	float:left;
    width:71px;
	height:75px;
	border-right:1px solid #f4f4f4;
	border-bottom:1px solid #f4f4f4;
/* 	background-color:pink; */
}
.wrapper .screen-box-wrap .col-right .moudle li a{
    display:block;
    text-align:center;
/*     border:1px solid black;
margin-left:20px; */
}
.wrapper .screen-box-wrap .col-right .moudle li a span{ 
    display:inline-block;
    width:24px;
    height:24px;
/*     border:1px solid black; */
    background:url('img/img14.jpg') 100% 100% no-repeat;
    margin-top:10px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic1{
    background-position:0px 0px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic2{
    background-position:0px -85px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic3{
    background-position:0px -44px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic4{
    background-position:0px -132px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic5{
    background-position:0px -176px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic6{
    background-position:0px -220px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic7{
    background-position:0px -264px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic8{
    background-position:0px -308px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic9{
    background-position:0px -352px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic10{
    background-position:0px -396px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic11{
    background-position:0px -440px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic12{
    background-position:0px -444px;
}
.wrapper .screen-box-wrap .col-right .moudle li a p{
	color:#3c3c3c;
	font-size:14px;
	line-height:24px;
	text-align:center;
}
.wrapper .screen-box-wrap .col-right .moudle li a:hover p{
	color:#ff5000;
}
.wrapper .screen-box-wrap .col-right .app{
	height:100px;
	width:290px;
}
.wrapper .screen-box-wrap .col-right .app h3{
    font-size:14px;
    height:30px;
    line-height:30px;
    padding-left:14px;
    position:relative; /* 这项属性与本身没有关系，是为了下面的a标签绝对定位而加的 */
}
.wrapper .screen-box-wrap .col-right .app h3 a{
	position:absolute;
	right:20px;
	font-size:12px;
	color:#3c3c3c;
}
.wrapper .screen-box-wrap .col-right .app  ul{
	height:84px;
	padding-left:23px;
}
.wrapper .screen-box-wrap .col-right .app  ul li{
	float:left;
	height:30px;
	width:30px;
	margin-right:21px;
	margin-bottom:8px;
	background-color:pink;
}